@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    padding: 20px;
    border-bottom: 2px solid black;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    padding: 20px 15px;
    font-family: 'Poppins', 'sans-serif';
}

main {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

section {
    border-right: 2px solid black;
    padding: 20px;
    width: 250px;
}

.right-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #626160;
    font-family: 'Poppins', 'sans-serif';
}

li {
    list-style-type: none;
    padding-bottom: 10px;
}

/* Nav Container */
.nav-container {
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.project-btn, .default-btn {
  font-family: 'Poppins', 'sans-serif';
  width: 100%;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}

.default-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}


/* Button code */
.btn-container {
    margin-bottom: 10px;
}

.add-btn {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #4c67df;
    font-size: 25px;
}

.project-label-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.myProjects {
 font-family: 'Poppins', 'sans-serif';
 font-weight: bold;
 color: #626160;
}

#add-project-btn {
  font-family: 'Poppins', 'sans-serif';
  font-weight: bold;
  padding: 5px 10px;
  font-size: 16px;
}

.project-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-btn-panel {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.inbox-icon, .today-icon, .week-icon {
    color: #3e3e3d;
}

.tag-icon {
    font-size: 15px;
}

.close-icon {
    font-size: 15px;
    color: #626160;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon:hover {
    font-weight: bold;
}

.project-btn:hover .close-icon {
    visibility: visible;
}

button.project-btn:focus, span>#text {
    font-weight: bold;
}


button.default-btn:focus, .inbox-icon .today-icon .week-icon {
    font-weight: bold;
}




/* Card code */
.card {
    display: flex;
    gap: 10px;
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: white;
}

/* List container */
#list-container {
    padding-left: 100px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
}

.complete-task {
    cursor: pointer;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date-span {
    cursor: pointer;
}

.date-input {
    display: none;
}

.active {
    display: block;
}

/* Modal Code */ 
.modal {
    width: 300px;
    border: 0;
    border-radius: 10px;
    padding: 20px; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    box-shadow: 0 0 2em black;
    background-color: #e4e4e7;
}

.modal::backdrop {
    opacity: 0.4;
   background-color: black;
}

.modal > h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', 'sans-serif';
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Poppins', 'sans-serif';
}

.form-row {
    margin-bottom: 10px;
    width: 100%;
}

.submit-form {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.88);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #4c67df;
}

.submit-form:hover {
    background-color: rgba(0, 63, 136, 0.9);
}

input:not([type='date']) {
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Poppins', 'sans-serif';
    border: none;
    height: 45px;
    width: 100%;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-family: 'Poppins', 'sans-serif';

}